# Игнорировать файлы и папки node_modules
node_modules/

# Игнорировать файлы конфигурации среды разработки
.env
*.local
src/
# Игнорировать временные и кэш-файлы
*.log
*.tmp
*.swp

# Игнорировать папки сборки и сборочные артефакты
 
build/

# Игнорировать IDE/редактор-specific файлы
.vscode/
.idea/

# Игнорировать файлы и папки в проекте на TypeScript
*.tsbuildinfo

# Игнорировать файлы системы контроля версий
.DS_Store
Thumbs.db
